    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <hr>
            <h2>Let's Get In Touch!</h2>
            <hr>
            <p>Ready for your next vehicle? Great! Give us a call or send us an email so we can help you be on your way.</p>
          </div>
          <div class="col-sm-4 col-sm-offset-2 text-center">
            <h3>
              <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
            </h3>
            <p>
              <a href="tel:+16158496144" onClick="ga('send', 'event', 'Contact', 'click', 'call');">(615) 849-6144</a>
            </p>
          </div>
          <div class="col-sm-4 text-center">
            <h3>
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
            </h3>
            <p><a href="mailto:sales@vanceauto.com" onClick="ga('send', 'event', 'Contact', 'click', 'email');">sales@vanceauto.com</a></p>
          </div>
        </div>
      </div>
    </section>
