{% extends "base.njk" %}

{%- block description -%}
This page explains our privacy policy.
{%- endblock -%}

{%- block customHead %}
    <link rel="canonical" href="https://vanceauto.com/privacy-policy" />
{%- endblock -%}

{%- block title -%}
Privacy Policy
{%- endblock -%}

{%- block content -%}
<!-- Wrap the rest of the page in another container to center all the content. -->
<main class="container">
  <article>
    <div class="page-header">
      <h1>Privacy Policy</h1>
    </div>

    <p>
      Your privacy is important to us. We do not sell the information
      collected during your visit to our website.
    </p>

    <h4>What types of data do you collect?</h4>
    <p>
      The information collected includes, but is not limited to, the pages
      you visit on our website, the technology you use to access our
      website, and geo-location information (i.e., an approximate location
      of the city from which your Internet connection appears to come). We
      also collect any information you provide to us via web forms on our
      website and/or by emails sent to one of our email addresses. Google
      Analytics also allows us to obtain <a
      href="https://support.google.com/adwords/answer/2580383?hl=en&amp;utm_id=ad" rel="noopener">Demographics</a>
      and <a
      href="https://support.google.com/adwords/answer/2497941?hl=en&amp;utm_id=ad" rel="noopener">Interest
      Reports</a> about visitors to our website. For more information about
      the types of data Google helps us collect, please visit <a
      href="https://www.google.com/analytics/" rel="noopener">Google Analytics website</a>. You
      may also wish to learn more about how Google determines demographic
      information and how Google determines interest categories.
    </p>

    <h4>How do you collect data about site visitors?</h4>
    <p>
      This website uses Google Analytics and Amazon Web Services (AWS) to help
      us learn more about how our website is used. We also collect data about
      your website visit from your browser via JavaScript, cookies, and http
      traffic. We may use cookies and other identifiers to help us understand
      how visitors interact with our website. We also collect any information
      you submit to us through web forms on our website and/or by emails sent to
      one of our email addresses.
    </p>
    <h4>What do you do with collected data?</h4>
    <p>
      The data collected is used to improve customer service, enhance our
      website, learn about site visitors, and conduct our business.
    </p>
    <h4>Do we share the data collected?</h4>
    <p>
      Yes. We share the data internally. Data is also shared with <a
      href="https://www.google.com/">Google</a> because this website uses Google
      Analytics. <a href="https://www.google.com/intl/en/policies/"
      rel="noopener">Click here</a> to view Google’s Privacy Policy. Our hosting
      provider, <a href="https://aws.amazon.com/" rel="noopener">AWS</a>, will
      have access to some information about your visit. <a
      href="https://aws.amazon.com/privacy/?nc1=f_pr" rel="noopener">Click
      here</a> to view AWS’s Privacy Policy. We may also share data with other
      related institutions such as insurance providers and warranty companies.
      In addition, we share data when required by law.
    </p>

    <h4>How can I opt-out of Google Analytics Advertising Features?</h4>
    <p>
      Please use Google Analytics' currently available <a
      href="https://tools.google.com/dlpage/gaoptout/" rel="noopener">opt-out for the web</a> and
      <a href="https://www.google.com/settings/ads" rel="noopener">Google’s Ad Settings</a>. You
      may also wish to use opt-out via the <a
      href="https://www.networkadvertising.org/choices/?partnerId=1//" rel="noopener">Network
      Advertising Initiative (NAI) Opt Out of Interest-Based
      Advertising</a>.
    </p>

    <h4>What are the exceptions to your privacy policy?</h4>
    <p>
      Publicly available data is not covered by our privacy policy.
    </p>
  </article>
</main>
<!-- /.container -->
{% include "partials/contact.html" %}
{% endblock %}
