{% extends "base.njk" %}

{%- block description -%}
This page provides information about our terms of service.
{%- endblock -%}

{%- block customHead %}
    <link rel="canonical" href="https://vanceauto.com/terms-of-service" />
{%- endblock -%}

{%- block title -%}
Terms of Service
{%- endblock -%}

{%- block content -%}
<!-- Wrap the rest of the page in another container to center all the content. -->
<main class="container">

  <div class="page-header">
    <h1>Terms of Service</h1>
  </div>
  <article>
    <!--Copyright Notice adapted from firstpage 2000 template-->
    <h2>Copyright Notice</h2>
    <p>
      All trademarks mentioned herein belong to their respective owners.
      Unless identified with the designation &quot;COPY FREE&quot;, the
      contents of this website is copyrighted by Vance Auto Sales. You may
      not otherwise copy or transmit the contents of this website either
      electronically or in hard copies. You may not alter the content of
      this website in any manner. If you are interested in using the
      contents of this website in any manner except as described above,
      please <a href="/contact">contact us</a> for information on
      licensing. Individual documents published by Vance Auto Sales on the
      World Wide Web may contain other proprietary notices and copyright
      information specific to that individual document. Nothing contained
      herein shall be construed as conferring by implication, estoppel or
      otherwise any license or right under any patent, trademark or other
      property right of Vance Auto Sales or any third party. Except as
      expressly provided above nothing contained herein shall be construed
      as conferring any license or right under any copyright or other
      property right of Vance Auto Sales or any third party. Note that any
      product, process, or technology in this document may be the subject of
      other intellectual property rights reserved by Vance Auto Sales and
      may not be licensed here under.
    </p>
  </article>
  <article>
    <!--Discalimer of Warranty adapted from firstpage 2000 template-->
    <h2>Disclaimer of Warranty</h2>
    <p>
      Vance Auto Sales assumes no responsibility for errors or omissions in
      these materials. THESE MATERIALS ARE PROVIDED &quot;AS IS&quot;
      WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT
      NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR
      A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. Vance Auto Sales further
      does not warrant the accuracy or completeness of the information,
      text, graphics, links or other items contained within these materials.
      Vance Auto Sales shall not be liable for any special, indirect,
      incidental, or consequential damages, including without limitation,
      lost revenues or lost profits, which may result from the use of these
      materials. The information on this server is subject to change without
      notice and does not represent a commitment on the part of Vance Auto
      Sales in the future.
    </p>
  </article>
</main>
<!-- /.container -->
{% include "partials/contact.html" %}
{% endblock %}
