{% extends "base.njk" %}
{% set activePage = "inventory" -%}

{%- block description -%}
{% for vehicle in vehicles -%}
  {% if vehicle.vin == "2GNDL73F166O97464" -%}
Find a great deal on a {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }} for sale in Woodbury, TN. Visit our site for more details on this {{ vehicle.category }}.
  {%- endif -%}
{% endfor -%}
{%- endblock -%}

{%- block customHead %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.6/css/lightgallery.min.css" rel="stylesheet" integrity="sha256-BLaEXwuSM0xmdXBUQS/BS056BP1kvG0jYIgc4sQo1gY=" crossorigin="anonymous">
  {%- for vehicle in vehicles -%}
    {% if vehicle.vin == "2GNDL73F166O97464" %}
    <link rel="canonical" href="https://vanceauto.com/cars/{{ vehicle.year }}-{{ vehicle.make | lower }}-{{ vehicle.model | lower}}">
    {%- endif -%}
  {% endfor %}
    <link rel="prefetch" href="/vendor/accruejs/jquery.accrue.min.js">
    <link rel="prefetch" href="/js/vas-financing.min.js">
{%- endblock -%}

{%- block title -%}
{% for vehicle in vehicles -%}
  {% if vehicle.vin == "2GNDL73F166O97464" -%}
{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}
  {%- endif -%}
{% endfor -%}
{%- endblock -%}

{% block content -%}
{% for vehicle in vehicles -%}
  {% if vehicle.vin == "2GNDL73F166O97464" -%}
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container">
  <div class="page-header">
    <h1>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }} {{ vehicle.trim }}</h1>
  </div>

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/inventory">Inventory</a></li>
    <li class="active">{{ vehicle.model }}</li>
  </ol>

  <div id="vehicle-gallery" class="vehicle center-block">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <a href="{{ vehicle.thumbnail }}-960.jpg"
          data-sizes="auto"
          data-src="{{ vehicle.image }}-960.jpg"
          data-srcset="
            {{ vehicle.thumbnail }}-960.jpg 960w,
            {{ vehicle.thumbnail }}-320.jpg 320w,
            {{ vehicle.thumbnail }}-1397.jpg 1397w,
            {{ vehicle.thumbnail }}-1727.jpg 1727w,
            {{ vehicle.thumbnail }}-1920.jpg 1920w"
          class="lazyload gallery">
          <img
            data-sizes="auto"
            data-src="{{ vehicle.thumbnail }}-960.jpg"
            data-srcset="
              {{ vehicle.thumbnail }}-960.jpg 960w,
              {{ vehicle.thumbnail }}-320.jpg 320w,
              {{ vehicle.thumbnail }}-1397.jpg 1397w,
              {{ vehicle.thumbnail }}-1727.jpg 1727w,
              {{ vehicle.thumbnail }}-1920.jpg 1920w"
            class="lazyload img-responsive img-rounded img-vehicle"
            width="960" height="640"
            alt="{{ vehicle.make }} {{ vehicle.model }}" />
        </a>
      </div>

      {% for image in vehicle.images %}
      <div class="col-sm-12 col-md-4 col-lg-4">
        <a href="{{ image }}-960.jpg"
          data-sizes="auto"
          data-src="{{ image }}-960.jpg"
          data-srcset="
            {{ image }}-960.jpg 960w,
            {{ image }}-320.jpg 320w,
            {{ image }}-1397.jpg 1397w,
            {{ image }}-1727.jpg 1727w,
            {{ image }}-1920.jpg 1920w"
          class="lazyload gallery">
          <img
            data-sizes="auto"
            data-src="{{ image }}-960.jpg"
            data-srcset="
              {{ image }}-960.jpg 960w,
              {{ image }}-320.jpg 320w,
              {{ image }}-1397.jpg 1397w,
              {{ image }}-1727.jpg 1727w,
              {{ image }}-1920.jpg 1920w"
            class="lazyload img-responsive img-rounded img-vehicle"
            width="960" height="640"
            alt="{{ vehicle.make }} {{ vehicle.model }}" />
        </a>
      </div>
      {%- endfor %}

    </div>
</div>
  <!-- Images -->
  <div class="panel panel-default center-block vehicle">
    <!-- Default panel contents -->
    <div class="panel-heading">{{ vehicle.model }} Features</div>
    <!-- Table -->
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Price</th>
          <td>{{ vehicle.price }}</td>
        </tr>
        <tr>
          <th scope="row">Year</th>
          <td>{{ vehicle.year }}</td>
        </tr>
        <tr>
          <th scope="row">Make</th>
          <td>{{ vehicle.make }}</td>
        </tr>
        <tr>
          <th scope="row">Model</th>
          <td>{{ vehicle.model }}</td>
        </tr>
        <tr>
          <th scope="row">Trim</th>
          <td>{{ vehicle.trim }}</td>
        </tr>
        <tr>
          <th scope="row">Miles</th>
          <td>{{ vehicle.miles }}</td>
        </tr>
        <tr>
          <th scope="row">Engine</th>
          <td>{{ vehicle.engine }}</td>
        </tr>
        <tr>
          <th scope="row">Color</th>
          <td>{{ vehicle.color }}</td>
        </tr>
        <tr>
          <th scope="row">VIN</th>
          <td>{{ vehicle.vin }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  </div>
  <!-- /.container -->
  {%- endif -%}
{% endfor -%}
{% endblock %}

  {% block customJS -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/2.0.7/lazysizes.min.js" async defer integrity="sha256-5lWpzLGGPdMqO+0DUKHARGGsmfUZTuBZZDDtPmflOEw=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.6/js/lightgallery.min.js" async defer integrity="sha256-BFUrEWmUV5dqqA0EITzntlDnvg+K1Ovry6Kf5+d1QUo=" crossorigin="anonymous"></script>
  <script src="/js/vas-gallery.min.js" async defer></script>
  {% endblock -%}

{% block jsonLD -%}
{%- for vehicle in vehicles -%}
  {%- if vehicle.vin == "2GNDL73F166O97464" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "AutoDealer",
  "name" : "Vance Auto Sales",
  "makesOffer" : {
        "@type" :"Offer",
        "priceSpecification" : {
            "@type" : "UnitPriceSpecification",
            "priceCurrency" : "USD",
            "price" : "{{ vehicle.price }}" },
        "itemOffered" : {
            "@type" : "Car",
            "name" : "{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }} {{ vehicle.trim }} ",
            "manufacturer" : "{{ vehicle.make }}",
            "model" : "{{ vehicle.model }}",
            "modelDate" : "{{ vehicle.year }}",
        "image" : "{{ vehicle.thumbnail }}",
        "color" : "{{ vehicle.color }}",
        "vehicleEngine" : {
            "@type": "EngineSpecification",
            "name" : "{{ vehicle.engine }}"
            },
        "category" : "{{ vehicle.category }}"
        }
    }
}
</script>
  {%- endif -%}
{%- endfor -%}
{%- endblock -%}
